.circle-button {
    --background : color-mix(in srgb, blue 40%, transparent);
    background-color: var(--background);
    height: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: inset 0 0 10px -4px blue, 0 0 15px -8px white;
}

.circle-button.info {
    display: flex;
    align-items: stretch;
    padding: 2px;
}

.circle-button.info img{
    height: 100%;
}

.dialog-sidebar .circle-button.like {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    height: 50px;
    font-size: 1.7rem;
}
